.button {
  border: 0;
  background-color: transparent;
  color: var(--green);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.active {
  background-color: var(--grey);
}
