.content {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  min-height: 127px;
  justify-content: space-evenly;
  padding: 0 20px;
  width: 300px;
  height: 260px;
  border-top: 1px solid var(--grey);
}
.template {
  display: flex;
  align-items: center;
}
.dividerWidth {
  width: 140px;
}
.button {
  color: white;
  background-color: var(--green);
  width: 100%;
  border-radius: 3px;
}
.input {
  padding: 0;
  border: 1px solid var(--grey);
  height: 30px;
}
