.questionInnercontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: 1px solid var(--grey);
}
.marginAround {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.marginEnd {
  margin: 20px;
}
