.avatar {
  height: 168px;
  width: 168px;
}
.verticalDivider {
  height: 160px;
}

.question {
  min-height: 160px;
  border: 2px solid var(--grey);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
